@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* MASTER STYLES */

:root {
  --box-shadow: rgba(0, 0, 0, 0.123) 2px 2px 5px;
  --dm-dark-blue-elements: hsl(209, 23%, 22%);
  --dm-text-lm-elements-white: hsl(0, 0%, 100%);
  --dm-very-dark-blue-bg: hsl(207, 26%, 17%);
  --lm-dark-gray-input: hsl(0, 0%, 52%);
  --lm-light-gray-bg: hsl(0, 0%, 98%);
  --lm-very-dark-blue-text: hsl(200, 15%, 8%);
  --padding-sides-desktop: 70px;
  font: 14px 'Nunito Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lm-light-gray-bg);
}


/* HEADER */
header {
  align-items: center;
  background-color: var(--dm-text-lm-elements-white);
  box-shadow: var(--box-shadow);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 20px;
}

.header-title a {
  color: #000;
  text-decoration: none;
}

.header-dark-mode {
  font-weight: 600;
}

.header-dark-mode i {
  padding-right: 7px;
}

@media(min-width: 1024px) {
  header {
    height: 80px;
    padding: 0 var(--padding-sides-desktop);
  }

  .header-title {
    font-size: 1.5rem;
  }

}


/* CONTAINER */


/* SEARCH BAR */

.bars-container {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}

.search-bar {
  align-items: center;
  background-color: var(--dm-text-lm-elements-white);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: var(--lm-dark-gray-input);
  display: flex;
  margin-bottom: 40px;
  width: 100%;
}

.search-icon {
  padding: 0px 30px;
}

.search-input {
  border: none;
  border-radius: 6px;
  color: var(--lm-dark-gray-input);
  height: 50px;
  width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

::placeholder {
  color: var(--lm-dark-gray-input);
}

@media(min-width: 768px) {
  .search-bar {
    width: 300px;
  }

  .search-input {
    width: 220px;
  }
  
}

@media(min-width: 1024px) {
  .search-bar-container {
    padding: 40px 70px;
    text-align: left;
  }

  .search-bar {
    width: 400px;
  }

  .search-input {
    width: 320px;
  }
}


/* FILTER DROPDOWN */

.filter-dropdown {
  align-items: center;
  background-color: var(--dm-text-lm-elements-white);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
  width: 200px;
}

.filter-dropdown-visible {
  display: block;
}

.filter-content {
  background-color: var(--dm-text-lm-elements-white);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  display: none;
  margin: 5px 0;
  padding: 20px;
  position: absolute;
  width: 200px;
}

.filter-content a {
  color: #000;
  display: block;
  text-decoration: none;
}

@media(min-width: 768px) {
  .bars-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-bar {
    margin-bottom: 0;
  }
}

@media(min-width: 1024px) {
  .bars-container {
    padding: 40px var(--padding-sides-desktop);
  }
}


/* COUNTRY GRID */
.country-grid-container {
  column-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.7fr));
  justify-content: center;
  row-gap: 40px;  
  padding-bottom: 25px;
}

.country-grid-item {
  background-color: var(--dm-text-lm-elements-white);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.country-flag img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.country-text {
  padding: 20px 25px 35px 25px;
}

.country-text h2 {
  padding-bottom: 10px;
}

.country-text ul {
  list-style: none;
}

.country-metric-strong {
  font-weight: 600;
}

@media(min-width: 540px) {
  .country-grid-container {
    padding: 20px;
  }
}

@media(min-width: 1024px) {
  .country-grid-container {
    padding: 0 var(--padding-sides-desktop) var(--padding-sides-desktop) var(--padding-sides-desktop);
  }
}


/* DETAILS PAGE */

/* BACK BUTTON */
.btn-container {
  padding: 35px 20px;
}

.btn {
  background-color: var(--dm-text-lm-elements-white);
  border: 0;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  height: 35px;
  width: 100px;
}

.btn:hover {
  cursor: pointer;
}

@media(min-width: 1024px) {
  .btn-container {
    padding: 45px var(--padding-sides-desktop);
  }
}

/* COUNTRY DETAILS */
.country-details-container {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
}

@media(min-width: 1024px) {
  .country-details-container {
    flex-direction: row;
    padding: 45px var(--padding-sides-desktop);
  }
}

.country-details-flag img {
  width: 100%;
}

@media(min-width: 1024px) {
  .country-details-flag img {
    width: 80%;
  }
}

.country-details-flag {
  flex-basis: 50%;
}

.country-details-text {
  flex-basis: 50%;
  padding: 40px 0;
}

@media(min-width: 1024px) {
  .country-details-text {
    padding-top: 0;
  }
}

.country-details-text h2 {
  padding-bottom: 15px;
}

.country-details-text-info {
  display: flex;
  flex-direction: column;
}

@media(min-width: 1024px) {
  .country-details-text-info {
    flex-direction: row;
  }

  .country-details-text-info-col-1,
  .country-details-text-info-col-2 {
    flex-basis: 50%;
  }
}

.country-details-text-info ul {
  line-height: 2;
  list-style: none;
  padding: 0 0 35px 0;
}

.country-details-text-border-countries {
  display: flex;
  flex-direction: column;
}

@media(min-width: 1024px) {
  .country-details-text-border-countries {
    flex-direction: row;
  }
}

.country-details-text-border-countries h3 {
  font-weight: 600;
  padding-bottom: 15px;
}

@media(min-width: 1024px) {
  .country-details-text-border-countries h3 {
    line-height: 2.25;
    padding: 0 5px 0 0;
  }
}